@use "app/styles/common.module.scss" as *;

.catering {

    &__hero {
        width: 100%;
        height: 230px;
        @extend .mb-md;
        display: flex;
        align-items: flex-end;
        color: white;

        &__title {
            flex: 1;

            & h2 {
                @extend .font-md;
            }

            & span {
                display: block;
                @extend .font-xxl;
                margin-bottom: 110px;
                line-height: .1;
            }
        }

        &__image {
            flex: 1;
            width: 250px;
            max-width: 700px;
            height: 230px;
            max-height: 648px;
            position: absolute;
            top: 50px;
            right: -5%;
            z-index: -99;
            clip-path: url(#clippath);

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: black;
                opacity: .15;
                top: 0;
                left: 0;
                z-index: 100;
            }

            @include mq(md) {
                width: 50vw;
                height: 45vw;
            }

            & img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;

            }
        }
    }


    &__inner {
        width: 100%;
        max-width: 600px;
        color: white;
        @extend .mb-md;

        &__headline {
            @extend .mb-sm;
            @extend .font-lg;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            & h3 {
                white-space: nowrap;
            }
        }

        &__description {
            & p {
                @extend .font-md;
            }
        }
    }

    &:nth-of-type(3) {
        opacity: 0;
    }

}