@use "app/styles/common.module.scss" as *;

.catering {
    width: 70vw;
    margin-top: -20%;

    &__headline {
        @extend .mb-sm;

        & span{
            display: block;
            @extend .font-sm;
            font-weight: normal;
        }

        & h3 {
            color: white;
            @extend .font-md;
        }
    }

    &__inner {
        color: white;

        &__description {
            @extend .mb-sm;
        }

        &__image {
            position: relative;
            width: 70vw;
            height: 300px;
            margin-left: calc(50% - 40vw);
            left: 30vw;

            & img {
            }
        }
    }


}