@use "app/styles/common.module.scss" as *;

.catering {
    width: 70vw;
    margin-top: -20%;
    padding-bottom: 250px;

    &__headline {
        @extend .mb-sm;

        @include mq(md){
            margin-top: 20%;
            margin-left: 50%;
        }
        @include mq(lg){
            margin-top: 30%;
            margin-left: 40%;
        }

        & span{
            display: block;
            @extend .font-sm;
            font-weight: normal;
        }

        & h3 {
            color: white;
            @extend .font-lg;
        }
    }

    &__inner {
        color: white;

        @include mq(md){
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 50px;
        }

        &__description {
            @extend .mb-sm;
            @extend .font-md;

            @include mq(md){
                flex: 1;
                max-width: 500px;
            }
        }

        &__image {
            position: relative;
            width: 70vw;
            max-width: 650px;
            height: 250px;
            margin-left: calc(50% - 40vw);
            left: 30vw;

            @include mq(md){
                flex: 1;
                left: 0;
            }
            @include mq(xl){
                height: 350px;
            }

            & img {
            }
        }
    }


}