@use "app/styles/_mq.scss" as *;
@forward "app/styles/_mq.scss";
/////////////////////////////////////
//　color
/////////////////////////////////////
$cBlack: #333333;
$cGreen: #95b7af;
$cOrange: #E1B58B;
$cBcc: #F4F2E0;
$cBlue: #AACBD0;

/////////////////////////////////
//container
/////////////////////////////////

.container{
    width: 100vw;
    padding: 0 5%;
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
}

/////////////////////////////////
//margin bottom
/////////////////////////////////
.mb-sm{
    margin-bottom: 30px;
}
.mb-md{
    margin-bottom: 50px;
}
.mb-lg{
    margin-bottom: 100px;
}
.mb-xl{
    margin-bottom: 150px;
}


/////////////////////////////////
//font size
/////////////////////////////////
.font-sm{
    font-size: 10px;

    @include mq(lg){
        font-size: 12px;
    }
}
.font-md{
    font-size: 14px;

    @include mq(lg){
        font-size: 16px;
    }
}
.font-lg{
    font-size: 20px;

    @include mq(lg){
        font-size: 24px;
    }
    @include mq(xl){
        font-size: 30px;
    }
}
.font-xl{
    font-size: 60px;

    @include mq(md){
        font-size: 80px;
    }
    @include mq(xl){
        font-size: 80px;
    }
}
.font-xxl{
    font-size: 200px;

    @include mq(xl){
        font-size:240px;
    }
}

/////////////////////////////////
//ease
/////////////////////////////////

$ease: cubic-bezier(1, 0, .01, 1);
